* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #f2f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 400px;
    height: 550px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
    border-radius: 12px;
    background: #60739b;
    overflow: hidden;
    border-radius: 40px;
}
form input {
    width: 100%;
    height: 200px;
    font-size: 2rem;
    padding: 1rem;
    color: #080808;
    background: #e9eef1;
    text-align: right;
    pointer-events: none;
    border: 1px solid black;
    border-radius: 40px;
}
.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
}
.btn-equal, .btn-clear{
    background: rgb(250, 250, 249);
    color: #080808;
}